[submodule "VGGT-1B"]
	path = VGGT-1B
	url = https://huggingface.co/facebook/VGGT-1B
[submodule "third_party/vggt"]
	path = third_party/vggt
	url = https://github.com/facebookresearch/vggt
[submodule "third_party/unitree_ros2"]
	path = third_party/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2
	branch = master
	shallow = true
[submodule "third_party/unitree_sdk2"]
	path = third_party/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2
	branch = main
	shallow = true
[submodule "third_party/unitree_ros"]
	path = third_party/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros
	branch = master
	shallow = true
